<tr id="currency_<%= currency.id %>" is="turbo-frame" class="currency">
  <td><%= currency.country %></td>
  <td><%= currency.currency_name %></td>
  <td><%= currency.amount %></td>
  <td><%= currency.currency_code %></td>
  <td><%= currency.rate %></td>
</tr>
